<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#featured-videos" aria-controls="featured-videos" role="tab" data-toggle="tab">Featured Videos</a></li>
    <li role="presentation"><a href="#featured-music" aria-controls="featured-music" role="tab" data-toggle="tab">Featured Music</a></li>
    <li role="presentation"><a href="#featured-books" aria-controls="featured-books" role="tab" data-toggle="tab">Featured Books</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content featured-media">
    <div role="tabpanel" class="tab-pane active" id="featured-videos">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail video">
            <img src="images/movies/werethemillers_344x390.jpg" alt="We're the Millers">
            <div class="caption">
              <h3 role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="collapsed">We're The Millers</h3>
              <p>2013 (110 minutes)</p>
              <div class="collapse" id="collapseExample">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae blandit lorem. Morbi et sapien augue, sed luctus erat. Nam sed lobortis sem. Suspendisse nunc enim, dapibus eget mollis eu, elementum eget erat. Vivamus sed diam nec eros rhoncus semper sit amet quis lectus.
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Wacth Video</a> <a href="#" class="btn btn-default" role="button">Watch Preview</a></p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail video">
            <img src="images/movies/jack_the_giant_slayer_poster.jpg" alt="We're the Millers">
            <div class="caption">
              <h3 role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" class="collapsed">Jack The Giant Slayer</h3>
              <p>2013 (114 minutes)</p>
              <div class="collapse" id="collapseExample2">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae blandit lorem. Morbi et sapien augue, sed luctus erat. Nam sed lobortis sem. Suspendisse nunc enim, dapibus eget mollis eu, elementum eget erat. Vivamus sed diam nec eros rhoncus semper sit amet quis lectus.
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Wacth Video</a> <a href="#" class="btn btn-default" role="button">Watch Preview</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail video">
            <img src="images/movies/spareparts.jpg" alt="Spareparts">
            <div class="caption">
              <h3 role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3" class="collapsed"> Spare Parts</h3>
              <p>2015 (83 minutes)</p>
              <div class="collapse" id="collapseExample3">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae blandit lorem. Morbi et sapien augue, sed luctus erat. Nam sed lobortis sem. Suspendisse nunc enim, dapibus eget mollis eu, elementum eget erat. Vivamus sed diam nec eros rhoncus semper sit amet quis lectus.
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Wacth Video</a> <a href="#" class="btn btn-default" role="button">Watch Preview</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail video">
            <img src="images/movies/greatgatsby_344x390.jpg" alt="Spareparts">
            <div class="caption">
              <h3 role="button" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4" class="collapsed">The Great Gatsby</h3>
              <p>2013 (143 minutes)</p>
              <div class="collapse" id="collapseExample4">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae blandit lorem. Morbi et sapien augue, sed luctus erat. Nam sed lobortis sem. Suspendisse nunc enim, dapibus eget mollis eu, elementum eget erat. Vivamus sed diam nec eros rhoncus semper sit amet quis lectus.
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Wacth Video</a> <a href="#" class="btn btn-default" role="button">Watch Preview</a></p>
              </div>
            </div>
          </div>
        </div>

<hr>


      </div><!-- /.row -->
    </div>
    <div role="tabpanel" class="tab-pane" id="featured-music">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail album">
            <img src="images/music/67447665_SVA_1603_SamiraSaid_AyzaEesh.jpg" alt="We're the Millers" style="width:100%">
            <div class="caption">
              <h3>Samira Said <small>Ayza Eesh</small></h3>
              <p>2015 (51 minutes)</p>
              <p>
                <a href="#musicModal" class="btn btn-primary" role="button" data-toggle="modal" data-target="#musicModal"><span aria-hidden="true" class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;Play now</a>
                <a href="#" class="btn btn-default" role="button"><span aria-hidden="true" class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Queue</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail album">
            <img src="images/music/67448033_SVA_1603_MilesDavis_KindOfBlue.jpg" alt="We're the Millers" style="width:100%">
            <div class="caption">
              <h3>Miles Davis <small>Kind of Blue</small></h3>
              <p>2015 (51 minutes)</p>
              <p>
                <a href="#musicModal2" class="btn btn-primary" role="button" data-toggle="modal" data-target="#musicModal2"><span aria-hidden="true" class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;Play now</a>
                <a href="#" class="btn btn-default" role="button"><span aria-hidden="true" class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Queue</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail album">
            <img src="images/music/Loud_-_Rihanna.jpg" alt="We're the Millers">
            <div class="caption">
              <h3>Rihanna <small>Loud</small></h3>
              <p>2015 (51 minutes)</p>
              <p>
                <a href="#" class="btn btn-primary" role="button"><span aria-hidden="true" class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;Play now</a>
                <a href="#" class="btn btn-default" role="button"><span aria-hidden="true" class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Queue</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail album">
            <img src="images/music/Michael-Buble--To-Be-Loved-album-cover.jpg" alt="We're the Millers">
            <div class="caption">
              <h3>Michael Bubl&eacute;<small>To be loved</small></h3>
              <p>2015 (51 minutes)</p>
              <p>
                <a href="#" class="btn btn-primary" role="button"><span aria-hidden="true" class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;Play now</a>
                <a href="#" class="btn btn-default" role="button"><span aria-hidden="true" class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Queue</a>
              </p>
            </div>
          </div>
        </div>

      </div><!-- /.row -->
    </div>
    <div role="tabpanel" class="tab-pane" id="featured-books">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail book clearfix">
            <img src="images/books/40-1.jpg" class="col-md-4" alt="We're the Millers">
            <div class="caption col-md-8">
              <h3>A clockwork orange <small>Anthony Burgess</small></h3>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p>
                <a href="#" class="btn btn-primary" role="button"><span aria-hidden="true" class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Read now</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail book clearfix">
            <img src="images/books/9eb595e51d197624cfe12e959179994d.jpg" class="col-md-4" alt="We're the Millers">
            <div class="caption col-md-8">
              <h3>The Girl who fell <small>Heidi Durrow</small></h3>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p>
                <a href="#" class="btn btn-primary" role="button"><span aria-hidden="true" class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Read now</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail book clearfix">
            <img src="images/books/fa180ddba4797bb5b3a1aa930d80182b.jpg" class="col-md-4" alt="We're the Millers">
            <div class="caption col-md-8">
              <h3>The Godfather <small>Mario Puzo</small></h3>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p>
                <a href="#" class="btn btn-primary" role="button"><span aria-hidden="true" class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Read now</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail book clearfix">
            <img src="images/books/photo_5653_0-6.jpg" class="col-md-4" alt="We're the Millers">
            <div class="caption col-md-8">
              <h3>The Hobbit <small>J.R.R. Tolkien</small></h3>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p>
                <a href="#" class="btn btn-primary" role="button"><span aria-hidden="true" class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Read now</a>
              </p>
            </div>
          </div>
        </div>

      </div><!-- /.row -->
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="musicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Samira Said <small>Ayza Eesh</small></h4>
      </div>
      <div class="modal-body">
        <ol class="list-group">
          <li class="list-group-item">Cras justo odio
            <div class="pull-right">
              <small>4:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in
            <div class="pull-right">
              <small>5:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Morbi leo risus
            <div class="pull-right">
              <small>6:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Porta ac consectetur ac
            <div class="pull-right">
              <small>5:15</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Vestibulum at eros
            <div class="pull-right">
              <small>10:03</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Cras justo odio
            <div class="pull-right">
              <small>5:35</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in
            <div class="pull-right">
              <small>7:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Morbi leo risus
            <div class="pull-right">
              <small>3:45</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Porta ac consectetur ac
            <div class="pull-right">
              <small>4:15</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Vestibulum at eros
            <div class="pull-right">
              <small>6:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in
            <div class="pull-right">
              <small>7:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Morbi leo risus
            <div class="pull-right">
              <small>3:45</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Play All</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="musicModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Miles Davis <small>Kind of Blue</small></h4>
      </div>
      <div class="modal-body">
        <ol class="list-group">
          <li class="list-group-item">Cras justo odio
            <div class="pull-right">
              <small>4:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in
            <div class="pull-right">
              <small>5:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Morbi leo risus
            <div class="pull-right">
              <small>6:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Porta ac consectetur ac
            <div class="pull-right">
              <small>5:15</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Vestibulum at eros
            <div class="pull-right">
              <small>10:03</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Cras justo odio
            <div class="pull-right">
              <small>5:35</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in
            <div class="pull-right">
              <small>7:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Morbi leo risus
            <div class="pull-right">
              <small>3:45</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Porta ac consectetur ac
            <div class="pull-right">
              <small>4:15</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Vestibulum at eros
            <div class="pull-right">
              <small>6:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in
            <div class="pull-right">
              <small>7:25</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
          <li class="list-group-item">Morbi leo risus
            <div class="pull-right">
              <small>3:45</small>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-xs"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></button>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Play All</button>
      </div>
    </div>
  </div>
</div>
