<div class="container movies-component">
  <!-- Nav tabs -->
  <h3 class="pull-left">Videos</h3>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="pull-right"><a href="#featured-videos" aria-controls="featured-videos" role="tab" data-toggle="tab">See All</a></li>
    <li role="presentation" class="pull-right"><a href="#featured-videos" aria-controls="featured-videos" role="tab" data-toggle="tab">Recently Watched</a></li>
    <li role="presentation" class="pull-right"><a href="#featured-videos" aria-controls="featured-videos" role="tab" data-toggle="tab">Genres</a></li>
    <li role="presentation" class="pull-right"><a href="#featured-music" aria-controls="featured-music" role="tab" data-toggle="tab">Most Popular</a></li>
    <li role="presentation" class="active pull-right"><a href="#featured-books" aria-controls="featured-books" role="tab" data-toggle="tab">Newest</a></li>
  </ul>
  <br clear="all">
<app-newest></app-newest>
<app-popular></app-popular>
</div>
